<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>藝文活動查詢</title>
</head>

<body>
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Menu Area Start -->
                <div class="col-12 h-100">
                    <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                            <!-- Logo -->

                                     <a class="navbar-brand" href="./index"><img src="/img/core-img/logoe.png" alt="logo"></a>


                            <!-- Menu Area -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                                <ul class="navbar-nav animated" id="nav">
                                    <li class="nav-item"><a class="nav-link" href="./index">主頁</a></li>
                                    <li class="nav-item active"><a class="nav-link" href="./query">活動查詢</a></li>
                                    <li class="nav-item "><a class="nav-link" href="./list">推薦列表</a></li>
                                     <li class="nav-item"><a class="nav-link" href="./admin">管理面板</a></li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mosh-breadcumb-area" style="background-image: url(/img/core-img/breadcumb.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="bradcumbContent">
                        <h2>活動查詢</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% extends "layout.html" %}
    {% block title %}查詢{% endblock %}
    {% block content %}

    <form action="/exs/queryResult" method="GET" name="queryResult"   id="test_form">

        <div class="field">
            <select name="type" class="custom-select my-1 mr-sm-2" style="width: 40%;" >
                <option selected>請選擇...</option>
                <option value="name">名稱</option>
                <option value="location">位置</option>
              </select>
            <div class="control">
                <input type="text" name="parm" class="form-control mb-2 mr-sm-2 " style="width: 40%; display:inline-block;" required="required" />
                
            </div>
            
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="btn mosh-btn mt-50">查詢</button>
            </div>

        </div>
    </form>
    {% endblock %}
</body>

</html>